@font-face {
    font-family: SF UI Display;
    src: url(../../../assets/fonts/SF\ UI\ Display);
}

#main_info {
    width: 100%;
    background: linear-gradient(180deg, #E7ECFF 0%, #FFFFFF 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main_info h1 {
    font-family: SF UI Display;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 150px;
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    line-height: 83px;
    color: rgba(0, 0, 79, 1);

}

#main_info p {
    font-family: SF UI Display;
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
    flex-wrap: wrap;

}

.landing_button {
    transition: background-color 0.3s, color 0.3s;
    background-color: rgba(0, 0, 79, 1);
}

.landing_button:hover {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 79, 1);
}

.top_rank {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 130px;
}

.top_rank h1 {
    font-family: SF UI Display;
    font-size: 48.83px;
    font-weight: 800;
    line-height: 55px;

    color: rgba(0, 0, 79, 1);

}

@media screen and (max-width:800px) {
    #main_info {
        width: auto;
    }

    #main_info h1 {
        padding: 0;
        flex: auto;
    }
}

@media screen and (max-width:450px) {
    #main_info {
        width: auto;
    }

    #main_info h1 {
        padding: 0;
        line-height: 50px;
        font-size: 40px;
    }

    .top_rank {
        margin-top: 50px;
    }

    .top_rank h1 {
        font-size: 30px;
        line-height: 35px;
    }
}

.services {
    margin-top: 120px;
}

.services h1 {
    font-family: SF UI Display;
    font-size: 48.83px;
    font-weight: 800;
    line-height: 55px;
    text-align: center;
    color: rgba(0, 0, 79, 1);

}

@media screen and (max-width:400px) {
    .services h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .services {
        margin-top: 70px;
    }

}

#call {

    background: rgba(232, 237, 255, 1);
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 100px;

}

@media screen and (max-width:600px) {
    #call {
        margin-top: 50px;
    }

}

.callimg {
    margin-top: 50px;
}

.clients-heading {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.clients-heading h1 {
    font-family: SF UI Display;
    font-size: 48.83px;
    font-weight: 800;
    line-height: 55px;
    text-align: center;
    color: rgba(0, 0, 79, 1);
}

.add-card{
    margin-top: 50px;
}
@media screen and (max-width:1000px) {
    .add-card{
        margin-top: 5px;
    }
}