@font-face {
    font-family: SF UI Display;
    src: url(../../assets/fonts/SF\ UI\ Display);
}


.raitingCard1 {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgb(242, 229, 229);
    display: flex;
    flex-direction: column;
    gap: 26px;
    border-radius: 18px;
    transition: all ease-in .5s;
    width: 330px;
    height: auto;
 padding: 40px 48px 32px 48px;
    
}
.raitingCard1:hover{
    background-color: rgb(30, 43, 55);
    color: aliceblue;
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.cardfooter {
    display: flex;
    justify-content: left;
    gap: 15px;
}

.footer-information {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: -3px;
}

.footer-information h3 {
    font-family: SF UI Display;
    color:
        rgba(115, 115, 115, 1);
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    text-align: left;

}
.paragraph{
    font-family: SF UI Display;
font-size: 16px;
font-weight: 400;
line-height: 21.6px;
text-align: left;
color: 
rgba(115, 115, 115, 1);
}
.footer-information p {
    font-family: SF UI Display;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    color: rgba(194, 194, 194, 1);

}
@media screen and (max-width:1000px) {
    .raitingCard1 {
        width: auto;
        height: auto;
        margin: 0 20px;
    }
}
@media screen and (max-width:400px) {
    .raitingCard1 {
        height: auto;
        width: auto;
        margin: 0 10px;
        padding: 30px 30px ;
    }
}