@font-face {
    font-family: SF Ui Display;
    src: url(../../assets/fonts/SF\ UI\ Display);
}

.container-email {
    display: flex;
    justify-content: center;

}

.emailcard {
    background: #00004F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    border-radius: 19px;
}

.emailheading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.emailheading h1 {
    font-family: SF Ui Display;

    font-size: 25px;
    font-weight: 800;
    line-height: 55px;
    text-align: center;

    color: white;
}

.emailheading span {
    font-family: SF Ui Display;

    font-size: 25px;
    font-weight: 800;
    line-height: 55px;
    text-align: center;

    color:
        rgba(159, 159, 255, 1);
}

.emailpara {
    display: flex;
    align-items: center;
    justify-content: center;
}

.emailpara p {
    flex-wrap: wrap;
    font-family: SF Ui Display;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: center;
    color: rgba(255, 255, 255, 1);

}

.input-group {
    display: flex;
    justify-content: center;
}

.input-group input {
    width: 300px;
    border-radius: 8px;
    height: 42px;
    padding: 0 0 0 10px;
    cursor: pointer;
}

.input-group button {
    width: 120px;
    height: 42px;
    top: 6916px;
    left: 1034px;
    gap: 0px;
    border-radius: 0px 8px 8px 0px;
    opacity: 0px;
    background: rgba(159, 159, 255, 1);
    color: white;
    font-family: SF Ui Display;
    transition: all ease .5s;
}

.input-group button:hover {
    background-color: transparent;

}

@media screen and (max-width:600px) {
    .emailcard {
        width: auto;
        padding: auto;
        margin: 15px;
    }
   

    .input-group input {
        width: auto;
        
    }
}
@media screen and (max-width:400px) {
    .input-group{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}