#setting {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-content: center;

    flex-wrap: wrap;
    margin-top: 15px;

}

@media screen and (max-width:900px) {
    #setting {
        gap: 30PX;
        flex-wrap: wrap;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:500px) {
    #setting {
        flex-wrap: wrap;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}